.bg-about {
    background-image: url(../../assets/AboutUs/bg-about.png);
    background-position: center;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.tt-text {
    background: -webkit-linear-gradient(131.24deg,#9F2AF5 0%,#422369 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}