.bg-branch {
    background-image: url(../../assets/Branch/bg-branch.png);
    background-position: 50% 0%;    
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.bg-btn-brach {
    background: linear-gradient(163.98deg, #FF6400 -19.99%, #FBAD17 126.32%);
}

