.bg-infrastructure {
    background-image: url(../../assets/Infrastructure/bg-infrastructure.png);
    background-position: 50% 3%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.carousel-pair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Điều chỉnh khoảng cách giữa cặp ảnh */
}

.btn-title {
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    background: linear-gradient(131.24deg, #30b83e 0%, #236928 100%);
    color: #fff;
    border: 1px solid rgba(213,196,124,1);
    border-radius: 999px;
    cursor: pointer;
    
    &:hover {
        background: linear-gradient(131.24deg, #2b9836 20%, #1b501e 80%);
    }
}

.bg-li {
    background-color: rgba(0,0,0,.04);
}