.bg-kol {
    background-image: url(../../assets/KOL/bg-kol.png);
    background-position: 40% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

@media screen and (max-width: 800px){
    .bg-kol {
    background-image: url(../../assets/KOL/bg-kol-mobi.png)!important;
    }
}

.ava-kol {
    width: 102px;
    height: 130px;
}