.bg-navi-menu {
    &::before {
        content: '';
        background-image: url(../../assets/NavigationMenuMobile/menu-seoulspa.png);
        width: 100%;
        height: 63px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .menu-mobile-custom {
        position: absolute;
        width: 66px;
        height: 66px;
        left: 50%;
        top: 0;
        background: radial-gradient(112.14% 88.76% at 6.51% 20.83%,#f3f3f3 0,#fbad17 41.47%,#ff6400 100%);
        box-shadow: 0 4px 10px rgb(146 55 73 / 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: translateX(-50%);
        border: 2px solid #fff;
        border-radius: 50%;
    }

    ul {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none;
        justify-content: center;
        align-items: flex-end;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 5px;
    }
}