.bg-our-service  {
    background-image: url(../../assets/OurServices/backrground.png);
    background-position: 50% 3%;
    background-repeat: no-repeat!important;
    background-size: cover!important;

   
}
 @media screen and (max-width: 800px){
    .bg-our-service {
    background-image: url(../../assets/OurServices/bg-mobi.png)!important;
    }
}


.custom-gradient-text {
    background: -webkit-linear-gradient(131.24deg, #9F2AF5 0%, #422369 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-btn-contact {
    background: linear-gradient(141.82deg,#9F2AF5 -66.97%,#422369 42.57%);
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    text-transform: none!important;


    &:hover {
        box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
        color: #fff;
        opacity: 1;
        outline: none;
    }
}

.custom-btn-more {
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    text-transform: none!important;
    background-color: transparent;
    border: 2px solid;

    &:hover {
        border-color: #422369;
        background-color: #422369;
        color: #fff;
    }
}
