.bg-EyebrowSpray {
    background-image: url(../../assets/EyebrowSpray/bg-EyebrowSpray1.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-EyebrowSpray2 {
    background-image: url(../../assets/EyebrowSpray/bg-EyebrowSpray2.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-EyebrowSpray3 {
    background-image: url(../../assets/EyebrowSpray/bg-EyebrowSpray3.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-EyebrowSpray4 {
    background-image: url(../../assets/EyebrowSpray/bg-EyebrowSpray4.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.bg-EyebrowSpray5 {
    background-image: url(../../assets/EyebrowSpray/bg-EyebrowSpray5.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.bg-EyebrowSpray6 {
    background-image: url(../../assets/EyebrowSpray/bg-EyebrowSpray6.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.bg-EyebrowSpray7 {
    background-image: url(../../assets/EyebrowSpray/bg-EyebrowSpray7.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

