.bg-PencilEffectTattooSpray {
    background-image: url(../../assets/PencilEffectTattooSpray/bg-PencilEffectTattooSpray-desktop.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-BannerPencil-1 {
    background-image: url(../../assets/PencilEffectTattooSpray/bg-banner1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.bg-BannerPencil-2 {
    background-image: url(../../assets/PencilEffectTattooSpray/bg-banner2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.bg-BannerPencil-3 {
    background-image: url(../../assets/PencilEffectTattooSpray/bg-banner3.png);
    background-position: 50% 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.bg-BannerPencil-4 {
    background-image: url(../../assets/PencilEffectTattooSpray/bg-banner4.png);
    background-position: 50% 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.bg-BannerPencil-5 {
    background-image: url(../../assets/PencilEffectTattooSpray/bg-banner5.png);
    background-position: 50% 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.bg-BannerPencil-6 {
    background-image: url(../../assets/PencilEffectTattooSpray/bg-banner6.png);
    background-position: 50% 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
