.bg-ReduceBodyFat-1 {
    background-image: url(../../assets/Banner/banner-01.png);
    background-position: 46% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}


.bg-ReduceBodyFat-3 {
    background-image: url(../../assets/ReduceBodyFat/bg-ReduceBodyFat-3.png);
    background-position: 50% 41%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-ReduceBodyFat-4 {
    background-image: url(../../assets/ReduceBodyFat/bg-ReduceBodyFat-4.png);
    background-position: 53% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-ReduceBodyFat-5 {
    background-image: url(../../assets/ReduceBodyFat/bg-ReduceBodyFat-5.png);
    background-position: 50% 41%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-ReduceBodyFat-6 {
    background-image: url(../../assets/ReduceBodyFat/bg-ReduceBodyFat-6.png);
    background-position: 51% 63%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}