.bg-Waxxing-1 {
    background-image: url(../../assets/Waxxing/bg-Waxxing-1.png);
    background-position: 33% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-Waxxing-2 {
    background-image: url(../../assets/Waxxing/bg-Waxxing-2.png);
    background-position: 51% 81%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-Waxxing-3 {
    background-image: url(../../assets/Waxxing/bg-Waxxing-3.png);
    background-position: 50% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-Waxxing-3-MB {
    background-image: url(../../assets/Waxxing/bg-Waxxing-3-mb.png);
    background-position: 50% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-Waxxing-4 {
    background-image: url(../../assets/Waxxing/bg-Waxxing-4.png);
    background-position: 55% 69%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-Waxxing-5 {
    background-image: url(../../assets/Waxxing/bg-Waxxing-5.png);
    background-position: 51% 42%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-Waxxing-5-MB {
    background-image: url(../../assets/Waxxing/bg-Waxxing-5-mb.png);
    background-position: 51% 42%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}


.bg-Waxxing-6 {
    background-image: url(../../assets/Waxxing/bg-Waxxing-6.png);
    background-position: 53% 4%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

