.bg-WhiteBath-1 {
    background-image: url(../../assets/Banner/banner-02.png);
    background-position: 46% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-WhiteBath-2 {
    background-image: url(../../assets/WhiteBath/bg-WhiteBath-2.png);
    background-position: 51% 100%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-WhiteBath-3 {
    background-image: url(../../assets/WhiteBath/bg-WhiteBath-3.png);
    background-position: 52% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-WhiteBath-4 {
    background-image: url(../../assets/WhiteBath/bg-WhiteBath-4.png);
    background-position: 50% 11%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-WhiteBath-4-MB {
    background-image: url(../../assets/WhiteBath/bg-WhiteBath-4-mb.png);
    background-position: 50% 0%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.bg-WhiteBath-6 {
    background-image: url(../../assets/WhiteBath/bg-WhiteBath-6.png);
    background-position: 56% 9%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}