.custom-btn-see {
    background: linear-gradient(90deg,rgba(213,196,124,1) 0%,rgba(154,117,47,1) 100%);
    border-radius: 22px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-weight: 600;
    font-size: 16px;
    animation: lickme 0.7s infinite cubic-bezier(.66, 0, 0, 1);
    padding: 14px 28px;
    
}

@keyframes lickme {
    0% {
        box-shadow: 0 0 1px #296923
    }
    100% {
        box-shadow: 0 0 0 15px #cfb06f0f;
    }
}

.btn-arrow {
    background: linear-gradient(90deg,rgba(213,196,124,1) 0%,rgba(154,117,47,1) 100%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-rou {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 200%;
            height: 10px;
            background: linear-gradient(to right, #037942, #10b420,);
            border-radius: 50% 50% 0 0 / 100% 100% 0 0;
            transform: translateX(-50%);
            top: -3px;

    }
}

.border-cus {
    border: 4px solid rgba(213,196,124,1) ;
}

.shadow-cus {
    -webkit-box-shadow: 0px 0px 13px -3px rgba(255, 255, 255, 1);
-moz-box-shadow: 0px 0px 13px -3px rgba(255, 255, 255, 1);
box-shadow: 0px 0px 13px -3px rgba(255, 255, 255, 1);
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-new {

}


.items-new::-webkit-scrollbar {
    height: 4px;
}

.items-new::-webkit-scrollbar-thumb {
    background-color: #d7d7d7;
    border-radius: 3px;
}

.items-new::-webkit-scrollbar-thumb:hover {
    background-color: #c1c1c1;
}

.items-new::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 3px;
}

.items-new::-webkit-scrollbar-track:hover {
    background-color: #e5e5e5;
}

.sidebar::-webkit-scrollbar {
    width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #d7d7d7;
    border-radius: 3px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #c1c1c1;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 3px;
}

.sidebar::-webkit-scrollbar-track:hover {
    background-color: #e5e5e5;
}

.sidebar-open {
    transform: translateX(0) !important;
    transition: transform 0.3s ease-out !important;
}

.sidebar-closed {
    transform: translateX(-100%) !important;
    transition: transform 0.3s ease-out !important;
}